/* BIO SECTION STYLING */

#bio {
    padding-top: 100px;
    padding-bottom: 300px;
}

#bio .container-fluid {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.bio-svg_container {
display: flex;
align-items: top;
}

.bio-svg {
display: flex;
flex-grow: 1;
height: 100%;
align-items: flex-start;
opacity: 20%;
}

.bio-svg svg {
height: 100%;
align-items: flex-start;
}


#bio p {
    position: relative;
    font-size: 22px;
    margin-top: 50px;
}

#bio img {
    position: relative;
    float: right;
    margin-right: 20px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid #918F8D;
}

/* BIO SECTION STYLING */

/* Responsive layout */

@media screen and (max-width: 700px) {
    #bio {
        padding-top: 0;
        padding-bottom: 0;
    }

    .bio-svg {
        display: none;
    }
    
    .profile-picture {
        width: 50%;
        display: none !important;
    }

    .bio-svg_container{
        width: 100% !important;
    }
    .bio-svg_container > .col-7 {
        width: 100%;
    }

    #bio .text-end {
        text-align: left !important;
    }

    .bio-svg_container > .col-7 > .text-end {
        text-align: center !important;
    }
}
/* Responsive layout */