/* CONTACTS SECTION STYLING */

#contacts .container-fluid {
    margin-top: 100px;
}


.contact-links{
    padding-top: 50px;
}

#contacts img {
    height: 90px;
    width: 90px;
}

#contacts a {
    position: relative;
    margin: 100px;
    text-decoration: none;
    display: inline-block;
}


#contacts .row .col-4 {
    position: relative;
}

/* CONTACTS SECTION STYLING */

/* Responsive layout */

@media screen and (max-width: 700px) {
    #contacts img {
        height: 70px;
        width: 70px;
    }
    
    #contacts a {
        position: relative;
        margin: 20px;
        text-decoration: none;
        display: inline-block;
    }
}
/* Responsive layout */
