/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

/* FONTS */


/* GENERAL */

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #454443;
}

body{
    overflow: hidden;
    background-color: #FCFBF5 !important;
    margin: 0;
}

.show-overflow {
    overflow: visible;
}

/* SVG, ANIMATION, PARTICLES */

.closing-line {
    display: flex;
    justify-self: center;
    opacity: 20%;
}


.animated-element {
    stroke-dashoffset: 100%;
    animation: dash 2s linear forwards;
    -webkit-animation: dash 2s linear forwards;
}

@keyframes dash {
    to {
    stroke-dashoffset: 0;
    }
}

.disable-svg-animation .animated-element {
    animation: none !important;
    stroke-dashoffset: 0;
    -webkit-animation: none !important;
}


.contacts-svg {
    opacity: 20%;
}

#tsparticles {
    height: 100vh;
    width: 100%;
    position: absolute;
}


.home-svg {
    padding-top: 100px;
    padding-bottom: 100px;
    opacity: 20%;
}

#home .closing-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showElements {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* SVG, ANIMATION, PARTICLES */


/* Responsive layout */

@media screen and (max-width: 700px) {
    .bio-svg {
        display: none !important;
    }

    .navbar {
        display: none !important;
    }

    #home a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-svg {
        opacity: 20%;
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    #home img {
        width: 70px;
        height: 70px;
    }

    #home .job-position {
        font-size: 32px;
    }

    #home h1 {
        font-size: 70px;
        letter-spacing: 5px;
    }

    #bio {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .profile-picture {
        width: 50%;
        display: none !important;
    }

    .bio-svg_container{
        width: 100% !important;
    }
    .bio-svg_container > .col-7 {
        width: 100%;
    }

    #bio .text-end {
        text-align: left !important;
    }

    .bio-svg_container > .col-7 > .text-end {
        text-align: center !important;
    }

    #services{
        padding-top: 205px;
        padding-bottom: 0;
    }

    .services-h3 {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 50px;
        margin-left: 0;
        text-align: left;
    }
    
    #contacts img {
        height: 70px;
        width: 70px;
    }
    
    #contacts a {
        position: relative;
        margin: 20px;
        text-decoration: none;
        display: inline-block;
    }



    #menu__toggle {
        opacity: 0;
    }

    .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #616161;
    transition: 0.3s;
}
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }

    .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition: 0.7s;
    background-color: #FCFBF5;
    z-index: 1;
}

    .menu__item {
    display: block;
    padding: 32px 24px;
    color: #333;
    font-size: 48px;
    letter-spacing: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

    #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    }
    

    #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    }

}


@media screen and (min-width: 701px ) {
    .hamburger-menu {
        display: none !important;
    }
}
/* Responsive layout */