/* SERVICES SECTION STYLING */


#services .container-fluid {
    padding: 0;
}

#services p, h4, h3 {
    position: relative;
}

.services-h3 {
    text-align: left;
    padding-top: 100px;
    padding-bottom: 200px;
    font-size: 48px;
    margin-left: 50px; 
    letter-spacing: 5px;
    font-weight: 300;
}

#services h4 {
    font-size: 32px;
}

#services li {
    font-size: 24px;
}

.contact-me-services{
    padding-top: 100px;
}
.contact-me-services a{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

/* SERVICES SECTION STYLING */

/* Responsive layout */

@media screen and (max-width: 700px) {
    #services{
        padding-top: 205px;
        padding-bottom: 0;
    }

    .services-h3 {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 50px;
        margin-left: 0;
        text-align: left;
    }

    #services .container-fluid {
        padding: 10px;
    }

    #services .col {
        padding-bottom: 50px;
    }
}
/* Responsive layout */