/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

/* FONTS */


/* GENERAL */

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #454443;
}

body{
    overflow: hidden;
    background-color: #FCFBF5 !important;
}

.show-overflow {
    overflow: visible;
}

footer {
    position: relative;
}

/* GENERAL */


/* NAVBAR STYLING */

.navbar {
    opacity: 0;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    letter-spacing: 3px;
    font-size: 36px;
    animation: showElements 1s ease-in-out forwards 1.5s;
}

.navbar .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar a {
    font-weight: 100;
}

.navbar .navbar-nav .nav-item {
    margin: 0 20px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.nav-item::after {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: #454443;
    width: 0%;
    height: .4px;
    transition: all 0.5s;
}
.nav-item:hover::after {
    width: 90%;
}

/* NAVBAR STYLING*/


/* HOME SECTION STYLING*/

#home {
    padding: 300px;
    padding-bottom: 0;
    height: 100vh;
}


#home h1 {
    position: relative;
    font-size: 150px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: 7px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}


#home a, p{
    opacity: 0;
    animation: showElements 1s ease-in-out forwards 1.5s;
    -webkit-animation: showElements 1s ease-in-out forwards 1.5s;
}

#home p {
    position: relative;
    font-size: 32px;
    letter-spacing: 2px;
}

#home a {
    position: relative;
    margin: 50px;
    text-decoration: none;
}

.email-copy {
    position: absolute;
    margin-left: 430px;
    background: #AAA8A6;
    color: #FCFBF5;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.email-copy.active {
    opacity: 1;
}
/* HOME SECTION STYLING*/


/* BIO SECTION STYLING */

#bio {
    padding-top: 100px;
    padding-bottom: 300px;
}

#bio .container-fluid {
    max-width: 100%;
}

#bio p {
    position: relative;
    font-size: 22px;
    margin-top: 50px;
}

#bio img {
    position: relative;
    margin-left: 100px;
    /* margin-top: 100px; */
    width: 70%;
    border-radius: 8px;
    border: 1px solid #918F8D;
}

/* BIO SECTION STYLING */


/* SERVICES SECTION STYLING */

#services {
    padding-bottom: 300px;
}

#services p, h4, h3 {
    position: relative;
}

.services-h3 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
    font-size: 48px;
}

#services h4 {
    font-size: 32px;
}

#services li {
    font-size: 24px;
}

/* SERVICES SECTION STYLING */


/* CONTACTS SECTION STYLING */

#contacts .container-fluid {
    margin-top: 100px;
}


#contacts a {
    text-decoration: none;
    color: #454443;
    font-size: 26px;
}

#contacts .row .col-4 {
    position: relative;
}

/* CONTACTS SECTION STYLING */


/* SVG, ANIMATION, PARTICLES */

.closing-line {
    display: flex;
    justify-self: center;
    opacity: 20%;
}

.bio-svg{
    width: 100%;
    opacity: 20%;
}

.animated-element {
    stroke-dashoffset: 100%;
    animation: dash 2s linear forwards;
    -webkit-animation: dash 2s linear forwards;
}

@keyframes dash {
    to {
    stroke-dashoffset: 0;
    }
}

.contacts-svg {
    opacity: 20%;
}

#tsparticles {
    height: 100vh;
    width: 100%;
    position: absolute;
}


.home-svg {
    padding-top: 100px;
    padding-bottom: 100px;
    opacity: 20%;
}

#home .closing-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showElements {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* SVG, ANIMATION, PARTICLES */
